<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="product in cart.products">
                        <td>{{$index + 1}}</td>
                        <td><img ng-src="{{product.metadata.images.image_1.url}}" width="100"></td>
                        <td><a ui-sref="main.product.profile({slug: product.slug})">{{product.title}}</a></td>
                        <td>{{product.metadata.brand}}</td>
                        <td><i class="fa fa-dollar"></i> {{product.metadata.price}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="cart.removeFromCart(product._id)"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" ui-sref="main.cart.checkout" ng-class="{'disabled': !cart.products.length}">Checkout</a>
            </div>
            <div class="col-md-6 text-right"><h3>Total: <b><i class="fa fa-dollar"></i> {{cart.totalPrice}}</b></h3></div>
        </div>
    </div>
</div>